body {
  background-color: #0a1c2e;
  margin: 0;
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  word-break: break-word;
  margin-left:  auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
  text-align: center;
  /* margin: 0px; */
}

p.title {
  font-weight: bold;
  color: #03c6ca;
}
